#title{
    background-color: #ff4c68;
    color:white;
}
.container-fluid{
    padding: 3% 15% 7%;
}

#features{
    margin:auto

}
#press{
    background-color:  #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.row{
    margin: auto;
}

.fa-sharp{
    color:#ef8172;
    margin-bottom: 1rem;
}
.fa-sharp:hover{
    color:#ff4c68
}

p{
    color: #8f8f8f;
    font-family: 'Montserrat';
}
.download-button{
    margin: 5% 3% 5% 0;
    font-family: 'Montserrat';
}

.nav-item{
    padding: 0 18px;
}
.title-image{
    width: 320px;
    transform: rotate(25deg);
    position: absolute;
    right: 22%;
   
}
.fa-brands{
    padding-right: 5px;
}
/*features section*/
#features{
    padding: 7% 15%;
    position: relative;
    background-color: #fff;
}

/***Testimonial***/
#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
    
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin-right: 2%;
}

.ads{
    width: 15%;
    margin: 20px 20px 15px;
}
.carousel-item{
    padding: 7% 15%;
}
/**pricing section**/
#pricing{
    padding: 100px;
}
.pricing-item{
    padding: 3% 2%;
    text-align: center;
}

@media (max-width:990px){

    #title{
        text-align: center;
    }

    .navbar-collapse{
        text-align: right;
    }

    .title-image{
        position: static;
        transform: rotate(0);
    }
}

/**Call to Action**/
#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 5% 16%;
}
.cta-button{
    margin: 4% 12px;
    font-family: 'Montserrat';
}

/**Footer**/
#footer{
    background-color: #fff;
    padding: 3%;
    text-align: center;
}
.fff{
    padding: 4% 10px 8px;
    color: black;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bold;
}
.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand{
    font-family: 'ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
h2{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}
h3{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1.5rem;
}
p{
    font: 'Montserrat';
}
.nav-link{
    size: rem;
    font-family: 'Montserrat'; 
}
.feature-box{
    text-align: center;
    padding: 5%;
}
.cta-header{
    font-size: 3.5rem;
    color: #fff;
    line-height: 1.5;
}
